<ion-view>
    <ion-content id="givepage">
        <br>
        <br>
        <br>
        <div>Current Selected Item:{{charityDropdown.selected}}
            <div id="locationWrapper">
<!--                <img id="refreshCharityList" src="images/refresh.png" ng-click="refreshList()">
                <select id="locations" data-corners="false" data-shadow="false" ng-model="CharityDropdownValue">
                    <option ng-repeat="charity in charities | orderBy:'-type'" value={{charity.value}}>{{charity.name}} ({{charity.location}})</option>
                </select>-->

                <img id="refreshCharityList" src="images/refresh.png" ng-click="refreshList()">
                <div class="list">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            &nbsp;
                        </div>
                        <select id="locations" ng-model="charityDropdown.selected" ng-options="charityDropdown.label(charity) for charity in charities
                         | orderBy:'type'">
                            <!--
                            <option ng-repeat="charity in charities | orderBy:'type'" ng-model="selectedValue" value={{charity.value}}>{{charity.name}} ({{charity.location}})</option>
                        -->
                        </select>
                    </label>
                </div>
            </div>

            <br>
            <br>
            <div class="button-block">
                <div class="round-button">
                    <div class="round-button-circle"><a ng-click="makeTransaction(1, charityDropdown.selected)" class="round-button">$1</a></div>
                </div>
                <div class="round-button">
                    <div class="round-button-circle"><a ng-click="makeTransaction(2, charityDropdown.selected)" class="round-button">$2</a></div>
                </div>
                <div class="round-button">
                    <div class="round-button-circle"><a ng-click="makeTransaction(5, charityDropdown.selected)" class="round-button">$5</a></div>
                </div>
            </div>
            <div class="button-block">
                <div class="round-button">
                    <div class="round-button-circle"><a ng-click="makeTransaction(10, charityDropdown.selected)" class="round-button">$10</a></div>
                </div>
                <div class="round-button">
                    <div class="round-button-circle"><a ng-click="makeTransaction(20, charityDropdown.selected)" class="round-button">$20</a></div>
                </div>
            </div>
            <div class="button-block">
                <div class="round-button">
                    <div class="round-button-circle"><a ng-click="makeTransaction(0, charityDropdown.selected)" class="round-button"
                                                        font-family="Arial">&hearts;</a></div>
                </div>
            </div>
            <div>
                <p id="availbal">Available Balance: ${{userBalance}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>