<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mangetout.givahoy" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Givahoy</name>
    <description>
        A charity-funding application, making it easier for people to donate to the organisations they care about.
    </description>
    <author email="mangetout@outlook.com" href="http://givahoy.com/">
        Givahoy
    </author>
    <icon src="www/images/icon.png" />
    <icon src="www/images/icon.png" platform="android" density="ldpi" />
    <icon src="www/images/icon.png" platform="android" density="mdpi" />
    <icon src="www/images/icon.png" platform="android" density="hdpi" />
    <icon src="www/images/icon.png" platform="android" density="xhdpi" />
    <content src="mobile6.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="Orientation" value="portrait" />
</widget>
