body{
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

/* Disable jQuery UI focus glow */
.ui-focus {
    outline: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

body .ui-page-theme-a {
    text-shadow:0 0 0 !important;
}

.page-heading{
    font-weight: 600;
    text-transform: uppercase;
}
#givepage {
    background: linear-gradient(#5F91BD, #84ABCC) !important;
}

[data-role="header"]{
    width: 100%;
    text-align: center;
    height: 50px;
}

[data-role="header"] img{
    width: initial;
    height: 100%;
}

#locationWrapper{
    height: 44.4px;
    width: 100%;
    display: inline-block;
    background-color: #f3f3f3;
}

#locationWrapper .ui-select{
    float: right;
    width: calc(100% - 44.4px);
    height: 100%;
}

#locations-button{
    border-color: #f6f6f6;
    padding-right: 58.4px;;
    background-color: rgba(255,205,255,  0);
}
#refreshCharityList {
    height: 100%
}

#availbal {
    text-align: center;
}
.button {
    height: inherit;
    margin: 20px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
}

.styled-select select {
    background: transparent;
    width: 268px;
    padding: 0px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
}

.styled-select {
    width: 98%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
    background-size: 33px;
    background-width: auto;
    margin: 0 !important;
}

.ui-select{
    margin: 0;
}
#location-button{
    border: 0;
}
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        5%;
    left:       5%;
    height:     90%;
    width:      90%;
    text-align: center;
    justify-content:center;
    align-items:center;

}

.modal img{
    padding-bottom: 40px;
    overflow: auto;
}
.modal.loading {
    display: block;
    background: #EEE;

}
.modal.dismissible .exitButton{
    display: block;
}
.modal .exitButton{
    display: none;
    background: url('cross.png') no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    float: right;
    margin: 10px;
}
.modal .container{
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 20%;
    padding-right: 20%;
}
.modal.completedTransaction{
    display: block;
    background: rgb( 226, 90, 76 );
    color: RGB( 236, 234, 234 );
    text-transform: uppercase;
    font-size: large;
}
.modal.error{
    display: block;
    background: rgb( 255, 73, 18 );
    color: RGB( 236, 234, 234 );
    font-size: medium;
}
.modal.completedTransaction .dismissible{
    display: block;
}
.modal.error .dismissible{
    display: block;
}

.modal.completedTransaction .container{
    display: block;
}
.modal.error .container{
    display: block;
}
.modal-underlay{
    position:fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}
.modal.loading ~ .modal-underlay{
    display:block;
}
.modal.completedTransaction ~ .modal-underlay{
    display:block;
}
.modal.error ~ .modal-underlay{
    display:block;
}

/* JB Added
*/
.button-block {
    width:100%;
    Text-align:center ;

}
.round-button {
    display:inline-block;
    width:25%;

}
.round-button-circle {
    width: 90%;
    height:0;
    padding-bottom: 90%;
    border-radius: 50%;
    border:2px solid #f6f6f6;
    overflow:hidden;
}
.round-button-circle:hover {
    background:#30588e;
}
.round-button a {
    text-shadow: 0 0;
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    text-decoration:none;
}
@media screen and (min-width: 0px){
    #historypage .transaction-item{
        font-size: 9pt;
    }
    #historypage .page-heading{
        font-size:10pt
    }
    .transaction-item .details .detail-small{
        width: 40px;
    }
    .transaction-item .details .detail-medium{
        width: 80px;
    }
}
@media screen and (min-width: 400px){
    #historypage .transaction-item{
        font-size: 10pt;
    }
    #historypage .page-heading{
        font-size:11pt
    }
    .transaction-item .details .detail-small{
        width: 60px;
    }
    .transaction-item .details .detail-medium{
        width: 100px;
    }
}
#historypage{
    background: linear-gradient(#F8D77E, #F6CD5D) !important;
    color: #5A5A5A;
}
#historypage .page-heading{
    padding-left: calc(5% + 15px);
    padding-top: 20px;
}
.transaction-history-list{
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    overflow: hidden;

}
.transaction-history-list li{
    list-style-type: none;
    font-family: Tahoma, Sans-serif;
    text-transform: uppercase;
}
.transaction-history-list .transaction-item{
    width: auto;

    border-color: #FAE3A5;
    border-top:1px #FAE3A5 solid;
    border-bottom: 1px #FAE3A5 solid;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 20px;
}
.transaction-history-list .transaction-item.special{
    background-color: #FAE3A5;
    font-weight: 600;
}
.transaction-item .label{
    display: inline-block;
    text-align: left;
    width: 45%;
}

.transaction-item .details{
    position: relative;
    float: right;
    width: 55%;
}

.transaction-item .details .detail-small{
    float: right;
    display: inline-block;
    text-align: right;
    padding-left: 5%;
}
.transaction-item .details .detail-medium{
    float: right;
    display: inline-block;
    text-align: right;
    padding-left: 5%;
}