<!doctype html>
<html>
<head>

    <title>Givahoy</title>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./themes/jquery.mobile-1.4.5.css">
    <link rel="stylesheet" href="./themes/jquery.mobile.icons.min.css"/>
    <link rel="stylesheet" href="./themes/ionic.css">
    <link rel="stylesheet" href="./themes/main.css"/>

</head>
<body ng-controller="givahoyAppController">
<div data-role="page" id="givepage">
    <div data-role="header">
        <img src="givahoybanner.png" width="50%" height="auto"/>
    </div>
    <br>
    <br>
    <br>
    <div>
        <div id="locationWrapper">
            <img id="refreshCharityList" src="images/refresh.png" ng-click="refreshList()">
            <select id="locations" data-corners="false" data-shadow="false" ng-model="CharityDropdownValue">
                <!--<option id="defaultOption" disabled selected>Select your option</option> -->
                <option ng-repeat="charity in ServerData.charities | orderBy:'-type'" value={{charity.value}}>{{charity.name}} ({{charity.location}})</option>
            </select>
        </div>
        <br>
        <br>
        <div class="button-block">
            <div class="round-button">
                <div class="round-button-circle"><a ng-click="makeTransaction(1)" class="round-button">$1</a></div>
            </div>
            <div class="round-button">
                <div class="round-button-circle"><a ng-click="makeTransaction(2)" class="round-button">$2</a></div>
            </div>
            <div class="round-button">
                <div class="round-button-circle"><a ng-click="makeTransaction(5)" class="round-button">$5</a></div>
            </div>
        </div>
        <div class="button-block">
            <div class="round-button">
                <div class="round-button-circle"><a ng-click="makeTransaction(10)" class="round-button">$10</a></div>
            </div>
            <div class="round-button">
                <div class="round-button-circle"><a ng-click="makeTransaction(20)" class="round-button">$20</a></div>
            </div>
            <!---<div class="round-button"><div class="round-button-circle"><a onclick=" class="round-button">$x</a></div></div>
            Put this back in when I decide to write a popup for other amounts
            --->
        </div>
        <div class="button-block">
            <div class="round-button">
                <div class="round-button-circle"><a ng-click="makeTransaction(0)" class="round-button"
                                                    font-family="Arial">&hearts;</a></div>
            </div>
        </div>
        <div>
            <p id="availbal">Available Balance: ${{ServerData.localData.userBalance}}</p>
        </div>
    </div>
    <div data-role="footer" data-id="foo1" data-position="fixed">
        <div data-role="navbar" class="navbar">
            <ul>
                <li><a href="#givepage" class="ui-btn-active ui-state-persist">Give &hearts;</a></li>
                <li><a href="#historypage">History</a></li>
                <li><a href="#settingspage">Settings</a></li>
            </ul>
        </div>
    </div>
</div>
<div data-role="page" id="historypage">
    <div data-role="header">
        <img src="givahoybanner.png" width="50%" height="auto"/>
    </div>

    <div class="page-heading">Transaction History</div>
    <ul class="transaction-history-list">
        <li class="transaction-item" ng-repeat="transaction in ServerData.transactionHistory" ng-class="{special: transaction.tdbcr !== 'db'}">
            <div ng-if="transaction.tdbcr === 'db'">
                <div class="label">{{transaction.sinstancename}}</div>
                <div class="details">
                    <div class="detail-medium">{{transaction.ddate | date:'dd-MM-yyyy'}}</div>
                    <div class="detail-small">${{transaction.mpayamount}}</div>
                </div>

            </div>
            <div ng-if="transaction.tdbcr === 'cr'">
                <div class="label">Account Top Up</div>
                <div class="details">
                    <div class="detail-medium">{{transaction.ddate | date:'dd-MM-yyyy'}}</div>
                    <div class="detail-small">${{transaction.mpayamount}}</div>
                </div>
            </div>
        </li>
    </ul>
    <div data-role="footer" data-id="foo1" data-position="fixed">
        <div data-role="navbar" class="navbar">
            <ul>
                <li><a href="#givepage">Give &hearts;</a></li>
                <li><a href="#historypage" class="ui-btn-active ui-state-persist">History</a></li>
                <li><a href="#settingspage">Settings</a></li>
            </ul>
        </div>
    </div>
</div>
<div data-role="page" id="settingspage">
    <div data-role="header">
        <img src="givahoybanner.png" width="50%" height="auto"/>
    </div>

    <ul class="list">
        <li ng-if="!user.isRegistered"
            class="item" onclick="showRegistrationModal()">Register Account</li>
        <li class="item" ng-click="user.toggleRegistration()">Toggle registration (Developer Setting)</li>
    </ul>
    <div data-role="footer" data-id="foo1" data-position="fixed">
        <div data-role="navbar" class="navbar">
            <ul>
                <li><a href="#givepage">Give &hearts;</a></li>
                <li><a href="#historypage">History</a></li>
                <li><a href="#settingspage" class="ui-btn-active ui-state-persist">Settings</a></li>
            </ul>
        </div>
    </div>
</div>
    <div class="givahoy-modal display loading">

        <div class="exitButton"></div>
        <div class="loadingContent">
            <img id="theImg" src="themes/ring.gif" /><br>
            <span>Initialising Application, please wait</span>
        </div>
        <div class="registrationContent">
            <h2>Account Registration</h2>
            Enter your email address to continue
            <br>
            <br>
            <form name="registrationForm" ng-submit="registrationForm.$valid && registerUser(user)" novalidate>
                <div class="list">
                    <label class="item item-input">
                        <input type="email" placeholder="Email Address" ng-model="user.email" required>
                    </label>

                    <input type="submit" value="Submit" class="item button button-positive">
                </div>
            </form>


        </div>
        <div class="registration2Content">
            <h2>Thank you</h2>
            Check your inbox to continue registration and instructions for how to top up your account
        </div>
        <div class="errorContent">
            <img src="images/warning.png" />
            <br>
            <span></span>
        </div>
        <div class="successfulTransactionContent">
            <div class="exit"></div><img src="images/heart.png" />
            <br>
            <span></span>
        </div>
        <div class="container">



        </div>
    </div>
<div class="modal-underlay"></div>

<script type="text/javascript" src="lib/ionic.bundle.js"></script>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="libs/evothings/evothings.js"></script>
<script type="text/javascript" src="libs/evothings/ui/ui.js"></script>
<script type="text/javascript" src="lib/jquery.min.js"></script>
<script type="text/javascript" src="lib/axios/dist/axios.standalone.js"></script>
<script type="text/javascript" src="lib/CryptoJS/rollups/hmac-sha256.js"></script>
<script type="text/javascript" src="lib/CryptoJS/rollups/sha256.js"></script>
<script type="text/javascript" src="lib/CryptoJS/components/hmac.js"></script>
<script type="text/javascript" src="lib/CryptoJS/components/enc-base64.js"></script>
<script type="text/javascript" src="lib/moment/moment.js"></script>
<script type="text/javascript" src="lib/url-template/url-template.js"></script>
<script type="text/javascript" src="lib/apiGatewayCore/sigV4Client.js"></script>
<script type="text/javascript" src="lib/apiGatewayCore/apiGatewayClient.js"></script>
<script type="text/javascript" src="lib/apiGatewayCore/simpleHttpClient.js"></script>
<script type="text/javascript" src="lib/apiGatewayCore/utils.js"></script>
<script type="text/javascript" src="apigClient.js"></script>
<script type="text/javascript" src="src/models.js"></script>
<script type="text/javascript" src="src/app.js"></script>
<script type="text/javascript" src="src/serverApi.js"></script>

<script>
    $(document).bind("mobileinit", function() {
        $.mobile.defaultPageTransition = 'none';
    });

    function getSelectedLocation(){
        selectedLocation =  $('#locations')
                .find($('option:selected'));

        return selectedLocation;
    }

    $(" .givahoy-modal .exitButton").click(function(){
        clearModal();
    });

    function clearModal(){
        console.log("clearModal called");
        $(".givahoy-modal")
                .removeClass("display")
                .removeClass("loading")
                .removeClass("registration")
                .removeClass("registration2")
                .removeClass("successfulTransaction")
                .removeClass("error")
                .removeClass("dismissible");
    }

    function showLoadingModal(message){
        clearModal();
        $(".givahoy-modal")
                .addClass("display")
                .addClass("loading");
        $(".givahoy-modal .loadingContent span")
                .text(message);
    }

    function showRegistrationModal(){
        clearModal();
        $(".givahoy-modal")
                .addClass("display")
                .addClass("registration")
                .addClass("dismissible");
    }

    function showRegistration2Modal(){
        clearModal();
        $(".givahoy-modal")
                .addClass("display")
                .addClass("registration2")
                .addClass("dismissible");
    }
    function showErrorModal(message, dismissable){
        clearModal();
        $(".givahoy-modal")
                .addClass("display")
                .addClass("error");
        if(dismissable) {
            $(".givahoy-modal").addClass("dismissible");
        }
        $(".givahoy-modal .errorContent span")
                .text(message);
    }

    function showTransactionCompletedModal(charity, amount){
        clearModal();
        $(".givahoy-modal")
                .addClass("display")
                .addClass("successfulTransaction")
                .addClass("dismissible");
        $(".givahoy-modal .successfulTransactionContent span")
                .text("Thank you for your $" + amount + " donation to " + charity);
    }

    function onDeviceReady() {
        console.info("onDeviceReady Called");
        cordova.plugins.BluetoothStatus.initPlugin();
        angular.bootstrap($('html'), ["givahoyApp"]);

    }

    document.addEventListener("deviceready", onDeviceReady, false);
</script>
<script type="text/javascript" src="./libs/jquery.mobile-1.4.5.js"></script>
</body>
</html>
